/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #0066cc;  ;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Estilos do cabeçalho */
header {
    background: #003a6e; /* Azul escuro */
    color: #fff;
    padding: 20px 20px 10px; /* Reduzido padding inferior */
    text-align: center;
    border-bottom: 3px solid #0066cc; /* Azul claro, com espessura reduzida */
    position: relative;
    overflow: hidden; /* Para esconder quaisquer elementos saindo da borda */
}

header h1 {
    margin-top: 10px;
    font-size: 2.5em; /* Tamanho maior para mais impacto */
    font-weight: bold;
}

/* Estilos das imagens do cabeçalho */
.header-images {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ajustado o gap para melhor alinhamento */
    margin-top: 10px; /* Reduzido para ajustar a posição das imagens */
}

.header-images img {
    width: 80px; /* Ajustado o tamanho para garantir que as imagens não fiquem cortadas */
    height: 80px; /* Ajustada a altura para manter a proporção */
    border-bottom: 4px solid transparent; /* Mantida a borda inferior, agora ajustada */
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: border-bottom-color 0.3s, transform 0.3s; /* Suaviza a mudança de cor e aplica efeito de transformação */
}

.header-images img:nth-child(1) {
    border-bottom-color: #ff0000; /* Vermelho */
}

.header-images img:nth-child(2) {
    border-bottom-color: #00ffff; /* Ciano */
}

.header-images img:nth-child(3) {
    border-bottom-color: #ff00cc; /* Magenta */
}

.header-images img:nth-child(4) {
    border-bottom-color: #228b22; /* Verde floresta */
}

.header-images img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

/* Estilos principais */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* Ajusta a altura para ocupar o espaço entre o cabeçalho e o rodapé */
/* Define o fundo branco para a área principal */
}

#central-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Mantém a proporção da imagem */
}

/* Estilos do rodapé */
footer {
    background: #003a6e; /* Azul escuro */
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    height: 180px;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
}