/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.pokedex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex {
  width: 100%;
  max-width: 425px;
}

.pokemon-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon__image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.pokemon__data {
  font-weight: 600;
  color: #aaa;
  font-size: clamp(16px, 5vw, 25px);
  margin-bottom: 10px;
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  width: 100%;
  margin-top: 15px;
}

.input__search {
  width: calc(100% - 120px);
  padding: 10px;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(12px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.button {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(12px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  cursor: pointer;
  margin-top: 10px;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.results {
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.btn-prev, .btn-next {
  width: 50%;
}
